.about {
    float: right;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.about.vincent {
  background-image: url("https://media.licdn.com/media/AAEAAQAAAAAAAAkHAAAAJDQ5NDEwNjRhLTc0ZjktNDAwNi05MTdhLTY0MjE1MGVlYjUyYg.jpg");
}

.about.jonas {
  background-image: url("https://scontent-hkg3-1.xx.fbcdn.net/v/t31.0-8/14207795_1073183756129221_3834911574038567204_o.jpg?oh=5c288e5a1644629328a6e0bca77c885d&oe=58FD363C");
}

.gallery-wrapper {
  margin-right: 15px;
  margin-left: 15px;
}

.img-gallery {
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.li-gallery {
  height: 200px;
  overflow: hidden;
  margin: 0.5%;
  position: relative;
}

@media (min-width: 992px) {
  .li-gallery {
    width: 24%;
  }
}

@media (min-width: 544px) and (max-width: 992px) {
  .li-gallery {
    width: 32%;
  }
}

@media (max-width: 544px) {
  .li-gallery {
    width: 49%;
  }
}

.thumb {
  max-height: 171px;
  border: solid 6px rgba(5, 5, 5, 0.8);
}

.lightbox {
  position: fixed;
  z-index: 999;
  height: 0;
  width: 0;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
  opacity: 0;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;
  width: 100%;
  height: 100%;
  opacity: 1 !important;
}

.lightbox:target img {
  border: solid 17px rgba(77, 77, 77, 0.8);
  opacity: 1;
  webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.light-btn {
  color: #fafafa;
  background-color: #333;
  border: solid 3px #777;
  padding: 5px 15px;
  border-radius: 1px;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  top: 45%;
  z-index: 99;
}

.light-btn:hover { background-color: #111; }

.btn-prev { left: 7%; }

.btn-next { right: 7%; }

.btn-close {
  position: absolute;
  right: 2%;
  top: 2%;
  color: #fafafa;
  background-color: #92001d;
  border: solid 5px #ef4036;
  padding: 10px 15px;
  border-radius: 1px;
  text-decoration: none;
}

.btn-close:hover { background-color: #740404; }
